html {
    background: #F5DD61;
     }

     
img {
        display: block;
        margin: 0 auto;
        max-height:min-content;
        width: 500px;
    }
      
p{
    color: #Ff0000;
    font-size: 30px;
    text-align: center;
    font-family: "Handlee", cursive;
  font-weight: 550;
  font-style: normal;
}


h1{
    font-size: 80px;
    text-align: center;
    color: #c60462;
    font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
  text-shadow: 3px 3px 1px #000000 ;
}
    

h2{
    font-size: 40px;
    text-align: center;
    color : #00008B;
    font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}


  